<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="content">
    <div class="create-user-container">
        <h1 class="text-center mt-3">회원가입</h1>
        <form th:action="@{/users}" th:method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="form-group mt-3">
                <label for="usersId">사용자 ID:</label>
                <input type="text" id="usersId" name="usersId" class="form-control" required placeholder="사용자 ID 입력">
            </div>

            <div class="form-group mt-3">
                <label for="usersPw">비밀번호:</label>
                <input type="password" id="usersPw" name="usersPw" class="form-control" required placeholder="비밀번호 입력">
            </div>

            <div class="form-group mt-3">
                <label for="usersName">이름:</label>
                <input type="text" id="usersName" name="usersName" class="form-control" required placeholder="이름 입력">
            </div>

            <div class="form-group mt-3">
                <label for="SignupusersZipcode">우편번호:</label>
                <div class="input-group">
                    <input type="text" id="SignupusersZipcode" name="usersZipcode" class="form-control" placeholder="우편번호 입력" readonly>
                    <button type="button" class="btn btn-primary" id="SignupfindAddress">주소 검색</button>
                </div>
            </div>

            <div class="form-group mt-3">
                <label for="SignupusersAddress1">주소 1:</label>
                <input type="text" id="SignupusersAddress1" name="usersAddress1" class="form-control" placeholder="주소 1 입력" readonly>
            </div>

            <div class="form-group mt-3">
                <label for="SignupusersAddress2">주소 2:</label>
                <input type="text" id="SignupusersAddress2" name="usersAddress2" class="form-control" placeholder="주소 2 입력">
            </div>

            <div class="form-group mt-3">
                <label for="usersPhone">전화번호:</label>
                <input type="text" id="usersPhone" name="usersPhone" class="form-control" placeholder="전화번호 입력">
            </div>

            <div class="form-group mt-3">
                <label for="usersEmail">이메일:</label>
                <input type="email" id="usersEmail" name="usersEmail" class="form-control" required placeholder="이메일 입력">
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-3">사용자 생성</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
