<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오류 발생</title>
</head>
<body>
<div layout:fragment="content">
    <h1>문제가 발생했습니다!</h1>
    <p>오류 메시지: <span th:text="${errorMessage}">에러</span></p>
    <a href="/" th:href="@{/}">홈으로 돌아가기</a>
</div>
</body>
</html>